::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #494949;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

* {
  text-decoration: none !important;
}

body {
  background: #181818 !important;
  margin: 15px 70px 0 70px !important;
}

div[class=content] {
  background-color: #181818 !important;
}

#header {
  background: #181818 !important;
}

#user_information {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
}

#user_information > [class=bottom] {
  background-color: transparent !important;
}

#user_information [class=bottom] table {
  color: white !important;
}

#header #user_information a.tokencountlink {
  color: #FFD066 !important;
}

#header #user_information a.upgrade,
#header #user_information a.purchase_tokens {
  color: #0086D1 !important;
}

.nav-bar {
  background: transparent !important;
  border: none !important;
}

.nav-bar {
  display: none;
}

div[ts=gp] a {
  color: white !important;
}

a[style*='box-sizing: border-box; height: 27px; display: inline-block; padding: 4px 11px 0px; font-family: UbuntuMedium, Helvetica, Arial, sans-serif; border-width: 1px; border-style: solid; border-color: rgb(139, 179, 218) rgb(139, 179, 218) rgb(255, 255, 255); border-image: initial; border-radius: 4px 4px 0px 0px; font-size: 15px; text-decoration: none; color: rgb(220, 85, 0); background-color: rgb(255, 255, 255); max-width: 180px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'] {
  background-color: transparent !important;
  color: #FFD066 !important;
  border-radius: 0 !important;
  border: none !important;
}

.sub-nav a,
a[data-floatingnav][style],
a[style~=ellipsis] {
  border-radius: 0 !important;
  background: #313131 !important;
  border: none !important;
  cursor: pointer !important;
  -webkit-transition: background 0.2s !important;
  transition: background 0.2s !important;
}

.sub-nav a:hover,
a[data-floatingnav][style]:hover,
a[style~=ellipsis]:hover
a[title]:hover {
  background: #4d4d4d !important;
}

.sub-nav a:hover {
  background-color: #42424d !important;
}

.bio-container {
  background-color: #181818 !important;
}

.bio-container * {
  color: white !important;
}

[style*='height: auto;width: 951px;position: static;overflow: visible;-webkit-tap-highlight-color: transparent;display: block;background-color: rgb(224, 224, 224);border: 1px solid rgb(172, 172, 172);border-radius: 4px;padding: 4px;margin: 8px 0px 17px 32px;box-sizing: border-box;'] {
  background-color: transparent !important;
}

[style*="-webkit-tap-highlight-color: transparent"][style*="margin: 8px 0px 17px 32px"] {
  background-color: transparent !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

[style*="width: 699px"] {
  background-color: #181818 !important;
  border: none !important;
  border-radius: 0 !important;
}

[style*='border-radius: 4px 4px 0px 0px'][style*='height: 100%'] {
  border: none !important;
  border-radius: 0 !important;
}

[style*='https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/gender_tab_bg.gif'] {
  background: none !important;
  border: none !important;
}

[style*='https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/gender_tab_bg.gif'] * {
  color: white !important;
}

[ts=Gs] {
  border: none !important;
  border-radius: 0 !important;
}

[ts=Gs] > div {
  background-color: #181818 !important;
}

div[ts=Mq] a:not([style*='ellipsis']) {
  color: white !important;
}

div[ts=Ww] {
  border: none !important;
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}

[ts=iw] {
  background-color: transparent !important;
  border: none !important;
  width: 600px !important;
  display: inherit !important;
  position: relative !important;
}

div[style*='background-color: rgb(204, 204, 204)'] {
  background-color: transparent !important;
}

div[ts=Xq] {
  background-color: #181818 !important;
}

[rel=nofollow] {
  display: none !important;
}

div[ts=Ww] > div:nth-of-type(2) {
  background-color: transparent !important;
}

#tab-row {
  background-color: #181818 !important;
  padding: 0 !important;
}

#tab-row > div {
  border-radius: 0 !important;
}

div[ts=Dw]:hover {
  background-image: none !important;
}

.room_list_room {
  background: none !important;
  border: none !important;
}

[ts=Mw] {
  background: none !important;
  border: none !important;
}

[ts=Mw] > div:not([style*='z-index']) {
  color: white !important;
}

[ts=Mw] > div[style*='z-index'] {
  border: none !important;
  border-radius: 0 !important;
  background: #1f202cc9 !important;
  color: white !important;
}

[title='SEND TIP'] {
  background: none !important;
  text-shadow: none !important;
}

[ts=Fs], [ts=Bs], [ts=Cs], [ts=or] {
  border-radius: 0 !important;
}

[ts=Cs] {
  background: #303030 !important;
  color: #AAAAAA !important;
}

[ts=Fs] {
  background: #0086D1 !important;
}

[ts=Fs] a {
  text-shadow: none !important;
}

[ts=Bs] {
  background: #CC0000 !important;
  color: white !important;
}

[ts=or] {
  background: none !important;
  color: white !important;
  text-shadow: none !important;
}

[ts=Xq] > div > div > a {
  color: white !important;
}

[ts=Xq] > div > h1 {
  color: white !important;
}

[ts=Xq] * {
  color: white !important;
}

.userUpload {
  background-color: transparent !important;
}

.userUpload > img {
  border: none !important;
}

a[title].userUpload {
  background-color: transparent !important;
}

.footer-holder {
  background: none !important;
  color: white !important;
}

.footer-holder * {
  color: white !important;
}

a[title~='Exhibitionist'] {
  background-color: transparent !important;
  color: white !important;
}

.userUpload > span[style*='rgb(0, 153, 0)'] {
  background-color: #0086D1 !important;
}

.userUpload > span[style*='rgb(109, 133, 181)'] {
  background-color: #9e1153 !important;
}

.logo-zone {
  padding: 0 !important;
}

div.logo-zone strong {
  display: none !important;
  padding: 0 !important;
}

div.logo-zone image {
  height: auto !important;
}

[ts=gp] {
  border: none !important;
  border-radius: 0 !important;
  background-color: #181818 !important;
}

[ts=gp] {
  background-color: #212121 !important;
  border: 1px solid #474747 !important;
}

[ts=ww] table {
  margin: 0 !important;
}

[ts=uz] > a {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}

[ts=Ts] {
  background: none !important;
}

.followedDropdown {
  color: inherit !important;
}

.tabOverlay {
  border-radius: 0 !important;
  background-color: transparent !important;
  text-shadow: 0 !important;
  border: none !important;
}

.tabOverlay span {
  text-shadow: 0 !important;
  opacity: 0 !important;
}

.followedContainer {
  background-color: #181818 !important;
  border-radius: 0 !important;
  border: 1px solid #474747 !important;
  padding: 7px !important;
}

.roomElement {
  border: none !important;
  opacity: 0.7;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.roomElement:hover {
  opacity: 1 !important;
}

.roomElementAnchor {
  background-color: transparent !important;
  border-radius: 0 !important;
}

.followedContainer img {
  border-radius: 0 !important;
}

[ts=Ww], [ts=Mw], [ts=px] {
  width: 100% !important;
}

[ts=Mw] {
  display: initial !important;
}

[ts=px] {
  height: 70vh !important;
  background-color: transparent !important;
}

.vjs-control-bar {
  background-color: #18181849 !important;
}

[ts]:nth-child(10) {
  background-color: red;
}
/*# sourceMappingURL=main.css.map */