::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #494949;
}

::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a;
}

* {
    // box-sizing: border-box;
    // padding: 0;
    // margin: 0;
    // color: white !important;
    text-decoration: none !important;
    // border: 1px solid red;
}

body {
    background: #181818 !important;
    margin: 15px 70px 0 70px !important;
}

div[class="content"] {
    background-color: #181818 !important;
}

#header {
    background: #181818 !important;
    // margin-bottom: 30px !important;
}

#user_information {
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

#user_information > [class="bottom"] {
    background-color: transparent !important;
}

#user_information [class="bottom"] table {
    color: white !important;
}

#header #user_information a.tokencountlink {
    color: #ffd066 !important;
}

#header #user_information a.upgrade,
#header #user_information a.purchase_tokens {
    color: #0086d1 !important;
}

.nav-bar {
    background: transparent !important;
    border: none !important;
}

// removes that annoying navbar
.nav-bar {
    display: none;
}

.endless_page_template {
    margin: 0 !important;
}

#room_list * {
    // border-radius: 0 !important;
}

.top-section {
    background: none !important;
    border: none !important;
    padding: 0 !important;
}

.sub-nav li a {
    color: white !important;
}

.sub-nav li[class="active"] a {
    color: #ffd066 !important;
}

ul .subject {
    display: none;
    color: white !important;
}

span.age.genderf {
    color: white !important;
}

a[data-room] {
    color: #ffd066 !important;
}

a[href*="tag"] {
    color: #008ee0 !important;
    transition: color 0.2s !important;
}

a[href*="tag"]:hover {
    color: #ffd066 !important;
}

div .title {
    border: none !important;
}

// height: auto; width: 699px; position: absolute; overflow: hidden; -webkit-tap-highlight-color: transparent; display: block; box-sizing: border-box; padding: 0px 50px; left: 0px; text-align: center; pointer-events: none; z-index: 1; top: 120.594px; max-height: 393.188px;

[style*="width: 699px"] > div:nth-of-type(1) {
    color: #ffd066 !important;
}

.thumbnail_label_c_hd_plus,
.thumbnail_label_c,
.thumbnail_label_exhibitionist,
.thumbnail_label_c_new,
.thumbnail_label_c_hd {
    background-color: #181818 !important;
}

.cams {
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #c9c9c9 !important;
}

// featured tab
// .sub-nav li:nth-child(1) {
//     display: none !important;
// }

// model's name in navbar in certain room
.chat_room > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(1) a {
    background-color: transparent !important;
    color: #ffd066 !important;
    border-radius: 0 !important;
    border: none !important;
}

// room types (female, male) on a room page
[style*='https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/gender_tab_bg.gif'] div:nth-of-type(2) > div a,
// room types (female, male) on main page
.sub-nav > li > a {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: none !important;
    // cursor: pointer !important;
    transition: color 0.2s !important;
}

[style*='https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/gender_tab_bg.gif'] div:nth-of-type(2) > div a:hover,
.sub-nav > li > a:hover,
#main > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(7) > a:hover {
    color: #ffd066 !important;
}

// 'FOLLOWED' tab
.followed {
}

[href='https://chaturbate.com/followed-cams/']
{
}

.followedContainer > :first-child > a {
    background-color: transparent !important;
}

// .sub-nav a:hover,
// a[data-floatingnav][style]:hover,
// a[style~=ellipsis]:hover
// a[title]:hover {
//     background: #4d4d4d !important;
// }

// .sub-nav a:hover {
//     background-color: #42424d !important;
// }

.bio-container {
    background-color: #181818 !important;
}

.bio-container * {
    color: white !important;
}

[style*="height: auto;width: 951px;position: static;overflow: visible;-webkit-tap-highlight-color: transparent;display: block;background-color: rgb(224, 224, 224);border: 1px solid rgb(172, 172, 172);border-radius: 4px;padding: 4px;margin: 8px 0px 17px 32px;box-sizing: border-box;"] {
    background-color: transparent !important;
}

[style*="-webkit-tap-highlight-color: transparent"][style*="margin: 8px 0px 17px 32px"] {
    background-color: transparent !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

[style*="width: 699px"] {
    background-color: transparent !important;
    color: #ffd066 !important;
    border: none !important;
    border-radius: 0 !important;
}

// visibility bisible
// color: rgb(55, 152, 230); cursor: pointer; padding-top: 5px; pointer-events: auto; display: block; text-decoration: none;
//color orange

// orenji
// font-size: 32px;line-height: 32px;color: rgb(255 255 255);margin-bottom: 20px;

[style*="border-radius: 4px 4px 0px 0px"][style*="height: 100%"] {
    border: none !important;
    border-radius: 0 !important;
}

[style*='https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/gender_tab_bg.gif']
{
    background: none !important;
    border: none !important;
}

[style*='https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/gender_tab_bg.gif'] * :not([href='/followed-cams/'])
{
    color: white !important;
}

.videoPlayerDiv {
    background: none !important;
}

div[style*="background-color: rgb(204, 204, 204)"] {
    background-color: transparent !important;
}

// might be controversial, meh
[rel="nofollow"] {
    display: none !important;
}

#tab-row {
    background-color: #181818 !important;
    padding: 0 !important;
}

#tab-row > div {
    border-radius: 0 !important;
}

.room_list_room {
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
    opacity: 0.8 !important;
    transition: opacity 0.5s !important;
}

.room_list_room:hover {
    opacity: 1 !important;
}

[title="SEND TIP"] {
    background: none !important;
    text-shadow: none !important;
}

.userUpload {
    background-color: transparent !important;
}

.userUpload > img {
    border: none !important;
}

a[title].userUpload {
    background-color: transparent !important;
}

// img[src='https://ssl-ccstatic.highwebmedia.com/tsdefaultassets/play3.png'] {
//     content:url('https://www.iconninja.com/files/210/726/399/player-video-media-play-web-youtube-icon.svg');
// }

.footer-holder {
    background: none !important;
    color: white !important;
}

.footer-holder * {
    color: white !important;
}

a[title~="Exhibitionist"] {
    background-color: transparent !important;
    color: white !important;
}

.userUpload > span[style*="rgb(0, 153, 0)"] {
    background-color: #0086d1 !important;
}

.userUpload > span[style*="rgb(109, 133, 181)"] {
    background-color: #9e1153 !important;
}

.logo-zone {
    padding: 0 !important;
}

div.logo-zone strong {
    // imo it's better without the text
    display: none !important;
    padding: 0 !important;
    // otherwise uncomment these
    // color: white !important;
    // display: initial !important;
}

div.logo-zone image {
    // width: 90px !important;
    height: auto !important;
}

.followedDropdown {
    color: inherit !important;
}

.tabOverlay {
    border-radius: 0 !important;
    background-color: transparent !important;
    text-shadow: 0 !important;
    border: none !important;
}

.tabOverlay span {
    text-shadow: 0 !important;
    opacity: 0 !important;
}

.followedContainer {
    background-color: #181818 !important;
    border-radius: 0 !important;
    border: 1px solid rgb(71, 71, 71) !important;
    padding: 7px !important;
}

.roomElement {
    border: none !important;
    opacity: 0.7;
    transition: opacity 0.5s;
}

.roomElement:hover {
    opacity: 1 !important;
}

.roomElementAnchor {
    background-color: transparent !important;
    border-radius: 0 !important;
}

.followedContainer img {
    border-radius: 0 !important;
}

.vjs-control-bar {
    background-color: #18181849 !important;
}

.content {
    padding: 12px 0 0 0 !important;
}

.list li {
    margin: 10px !important;
}

.footer-holder {
    display: none !important;
}

noscript {
    display: none !important;
}

.paging li a {
    // background: none !important;
    color: white !important;
    border: none !important;
    border-radius: 0 !important;
    background: none !important;
    font-family: unset !important;
    transition: color 0.2s;
}

.paging li a:hover {
    color: #ffd066 !important;
}

.prev,
.next {
    text-indent: initial !important;
}

#id_keywords {
    background: #292929 !important;
    outline: none !important;
    border: none !important;
}

#more_hashtags_link {
    display: none !important;
}

#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(1) {
    background-color: #181818 !important;
    border: none !important;
    border-radius: 0 !important;
}

#main
    > div
    > div:nth-child(6)
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(4)
    > div:nth-child(1)
    > div:nth-child(1) {
    color: #ffd066 !important;
}

body > div:nth-child(33) > div {
    width: unset !important;
    border-radius: 0 !important;
    border: none !important;
    background: #181818 !important;
    color: #ffd066 !important;
}

#main > div > div:nth-child(6) > div:nth-child(7) > div:nth-child(1) {
    background-color: #181818 !important;
}

#main > div > div:nth-child(6) > div:nth-child(7) > div:nth-child(1) * {
    border-radius: 0 !important;
}

body > div:nth-child(33) > div > div:nth-child(2) {
    background: #181818 !important;
}

#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(1) > div:nth-child(6) > div > div:nth-child(2) {
    display: none !important;
}

#main > div > div:nth-child(6) > div:nth-child(5) {
    display: none !important;
}

#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(1) > span > div {
    width: unset !important;
}

#main
    > div
    > div:nth-child(6)
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(6)
    > div
    > div:nth-child(1)
    > span:nth-child(2) {
    color: #ffd066 !important;
}

#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(1) > div:nth-child(6) > div > span:nth-child(5) {
    color: #ffd066 !important;
}

#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(1) > div:nth-child(6) > div > div:nth-child(1) * {
    color: white !important;
}

#main
    > div
    > div:nth-child(6)
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(4)
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(3) {
    color: #ffd066 !important;
}

#main > div > div:nth-child(3) {
    padding: 16px 0 0 0 !important;
}

#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
    color: #b7b7b7 !important;
}

#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(1) > span > div > table tr {
    background-color: transparent !important;
}

#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(1) > span {
    width: unset !important;
}

#main > div > div:nth-child(6) > div:nth-child(7) a {
    background: none !important;
    color: white !important;
}

#main > div > div:nth-child(6) > div:nth-child(7) > div:nth-child(1) > div:nth-child(3) {
    background: #0086d1 !important;
}

#main > div > div:nth-child(6) > div:nth-child(7) > div:nth-child(1) > div:nth-child(3) > span:nth-child(2) > a {
    text-shadow: unset !important;
}

// unfollow state
#main > div > div:nth-child(6) > div:nth-child(7) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    background: #303030 !important;
    text-shadow: unset !important;
}

// follow state
#main > div > div:nth-child(6) > div:nth-child(7) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    background: #cc0000 !important;
    text-shadow: unset !important;
}

#main > div > div:nth-child(6) > div:nth-child(7) > div:nth-child(1) > div:nth-child(5) {
    background: none !important;
    text-shadow: unset !important;
    color: white !important;
}

// NEXT CAM (CTRL-/)
#main > div > div:nth-child(3) > div:nth-child(1) > a:nth-child(2) {
    background-color: unset !important;
    border: none !important;
    border-radius: 0 !important;
}

// Pics & Videos tab
#main > div > div:nth-child(6) > div:nth-child(7) > div.photovideos-container,
// Contest Stats tab
#main > div > div:nth-child(6) > div:nth-child(7) > div:nth-child(4),
// More Rooms Like This tab
#main > div > div:nth-child(6) > div:nth-child(7) > div:nth-child(6),
// Share tab
#main > div > div:nth-child(6) > div:nth-child(7) > div:nth-child(5) {
    background-color: #181818 !important;
}

#main > div > div:nth-child(6) > div:nth-child(7) > div.photovideos-container *,
#main > div > div:nth-child(6) > div:nth-child(7) > div:nth-child(4) *,
#main > div > div:nth-child(6) > div:nth-child(7) > div:nth-child(6) *,
#main > div > div:nth-child(6) > div:nth-child(7) > div:nth-child(5) * {
    color: white !important;
}
.advanced_search_button,
.hide_advanced_search_button {
    color: #707070 !important;
}

[name="search"] {
    background: #181818 !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

div.advanced_search_options {
    background: #181818 !important;
    width: unset !important;
    border: none !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

div.advanced_search_options > h2 {
    color: #ffd066 !important;
}

div.advanced_search_options * {
    color: white !important;
}

#main > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(3),
#main > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(4),
#main > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(5),
#main > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(6) {
    display: none !important;
}

#main > div > div:nth-child(6) > div:nth-child(2) {
    background-color: transparent !important;
}

// video div
#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(1) {
    display: block !important;
    // width: calc(65vw - 150px) !important;
}

// seperator
#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(2) {
}

// chat
#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(3) {
    border: none !important;
    background-color: #181818 !important;
    position: initial !important;
}

#vjs_video_3_html5_api {
    background-color: #181818 !important;
}

#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(1) > div:nth-child(4) {
    // width: calc(100vw - 150px) !important;
    height: 720px !important;
}

#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(1) {
    width: initial !important;
}

#main > div > div:nth-child(6) > div:nth-child(2) > div:nth-child(1) > div:nth-child(4) {
    // display: none !important;
}

// .prev {
//     background: none !important;
// }

// div[ts=gp] a {
//     color: white !important;
// }

// [ts=Gs] {
//     border: none !important;
//     border-radius: 0 !important;
// }

// [ts=Gs] > div {
//     background-color: #181818 !important;
// }

// div[ts=Mq] a:not([style*='ellipsis']) {
//     color: white !important;
// }

// div[ts=Ww] {
//     border: none !important;
//     background-color: transparent !important;
//     padding: 0 !important;
//     margin: 0 !important;
// }

// [ts=iw] {
//     background-color: transparent !important;
//     border: none !important;

//     // this makes the chat go under the stream
//     //
//     width: 600px !important;
//     display: inherit !important;
//     position: relative !important;
// }

// div[ts=Xq] {
//     background-color: #181818 !important;
// }

// div[ts=Ww] > div:nth-of-type(2) {
//     background-color: transparent !important;
// }

// div[ts=Dw]:hover {
//     background-image: none !important;
// }

// [ts=Mw] {
//     // place chat under stream
//     // display: inherit !important;

//     background: none !important;
//     border: none !important;
// }

// [ts=Mw] > div:not([style*='z-index']) {
//     color: white !important;
// }

// [ts=Mw] > div[style*='z-index'] {
//     border: none !important;
//     border-radius: 0 !important;
//     background: #1f202cc9 !important;
//     color: white !important;
// }

// [ts=Fs], [ts=Bs], [ts=Cs], [ts=or] {
//     border-radius: 0 !important;
// }

// // [ts=Cs] {
// //     background: #303030 !important;
// //     color: #AAAAAA !important;
// // }

// [ts=Fs] {
//     background: #0086D1 !important;
// }

// [ts=Fs] a {
//     text-shadow: none !important;
// }

// [ts=Bs] {
//     background: #CC0000 !important;
//     color: white !important;
// }

// [ts=or] {
//     background: none !important;
//     color: white !important;
//     text-shadow: none !important;
// }

// [ts=Xq] > div > div > a {
//     color: white !important;
// }

// [ts=Xq] > div > h1 {
//     color: white !important;
// }

// [ts=Xq] * {
//     color: white !important;
// }

// [ts=gp] {
//     border: none !important;
//     border-radius: 0 !important;
//     background-color: #181818 !important;
// }

// [ts=gp] {
//     background-color: #212121 !important;
//     border: 1px solid rgb(71, 71, 71) !important;
// }

// [ts=ww] table {
//     margin: 0 !important;
// }

// [ts=uz] > a {
//     background-color: transparent !important;
//     border: none !important;
//     border-radius: 0 !important;
// }

// [ts=Ts] {
//     background: none !important;
//     // height: initial !important;
// }

// [ts=Ww], [ts=Mw], [ts=px] {
//     width: 100% !important;
// }

// [ts=Mw] {
//     display: initial !important;
// }

// [ts=px] {
//     height: 70vh !important;
//     background-color: transparent !important;
//     // overflow: initial !important;
// }

// [ts]:nth-child(10) {
//     background-color: red;
// }
